<%- include("partials/header.ejs") %>

        <h1>HASHTAGS </h1>

        <ul>
            <% tags.forEach((item) => { %>
            <li class="post"> 
                <a href="/users/<%= item.entryUser%>"><img src="/<%= item.entryPhoto %>" alt="profile photo" height="50px" width="50px"></a>
                <%= item.entry%> <i><small> - posted by <a href="/users/<%= item.entryUser%>"><b><%= item.entryUser %></b></a> on <%= item.entryDateString %> </small></i>
                <a href="/hashtags/<%= item.entryHashtag %>"><%= item.entryHashtag %></a>
            </li>
            <% }) %>
        </ul>


<%- include("partials/footer.ejs") %>
