<%- include("partials/header.ejs") %>

    <div class="background">
        <div class="navbar">
        <h1>Welcome to Cricket <%= firstname %> </h1>

        <p> You are logged in as: <b><%= username %></b></p>
        <a href="/profile"><button>User profile</button></a><br/>

        <br>
        <form action="/logout" method="POST">
        <button type="submit">Logout</button><br/>
        </form>    

        <br/>

        <form method="POST" action="/entries">
            <input type="text" name="entry" maxlength="140" placeholder="What to do?">
            <button type="submit">Creet</button>
        </form>
        <br>
        <h1>My Creets</h1>

    </div>
    
        <ul>
            <% entries.forEach((item) => { %>
            <li class="post"> 
                <a href="/users/<%= item.entryUser%>"><img src="/<%= item.entryPhoto %>" alt="profile photo" height="50px" width="50px"></a>
                <%= item.entry%> <i><small> - posted by <a href="/users/<%= item.entryUser%>"><b><%= item.entryUser %></b></a> on <%= item.entryDateString %> </small></i>
                <a href="/hashtags/<%= item.entryHashtag %>"><%= item.entryHashtag %></a>
            </li>
            <% }) %>
        </ul>
     
    </div>
<%- include("partials/footer.ejs") %>
